.badge {
  width: 15px;
  height: 15px;
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
  padding: 3px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 600;
}
